<div>
    <img id="home1" src="pic/home_pizza2.jpg">
</div>

<div class="col-sm-12">
    <section id="home_content" class="bg-warning text-warning">
    Pizza is a yeasted flatbread typically topped with tomato sauce and cheese and baked in an oven.
    It is commonly topped with a selection of meats, vegetables and condiments.<br><br>

    The term pizza was first recorded in the 10th century, in a Latin manuscript from Gaeta in Central
    Italy.Modern pizza was invented in Naples, Italy, and the dish and its variants have since
    become popular and common in many areas of the world. In 2009, upon Italy's request, Neapolitan
    pizza was safeguarded in the European Union as a Traditional Speciality Guaranteed dish.
    Associazione Verace Pizza Napoletana (True Neapolitan Pizza Association), a non-profit organization
    founded in 1984 with headquarters in Naples, aims to "promote and protect... the true Neapolitan
    pizza".<br><br>

    Pizza is sold fresh or frozen, either whole or in portions, and is a common fast food item in
    Europe and North America.Various types of ovens are used to cook them and many varieties exist.
    Several similar dishes are prepared from ingredients commonly used in pizza preparation, such as
    calzone and stromboli.
    </section>
</div>
